@import "../../../sass/variables";
@import "../../../sass/mixins";
@import "../../../sass/global";

.container {
  align-items: center;
  justify-content: center;
  gap: 485px;
  margin-top: 20px;
  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.container__profile {
  justify-content: center;
}

.profile__picture {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: grey;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 52px;
  font-weight: 500;
  line-height: 100px;
  color: white;
  margin: auto;
}

.profile__name {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #000000;
  margin-top: 10px;
}

.profile__status {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-align: center;
}

.profile__children {
  box-shadow: 0px 8px 18px rgba(0, 10, 39, 0.08);
  width: 330px;
  height: auto;
  border-radius: 11px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 8px;
}

.profile__children__header {
  display: flex;
  justify-content: space-between;
}

.profile__children__add__button {
  width: 20px;
  height: 20px;
  background: #000a27;
  border-radius: 100px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: auto;
  text-align: center;
  right: 0;
}

.profile__children__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.profile__child {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profile__child__picture {
  width: 50px;
  height: 50px;
  border-radius: 11px;
  background: grey;
  flex: none;
}

.profile__child__name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.profile__child__adding__date {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #c4c4c4;
}
