@use "./variables";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  background-color: #fafafb;
}

select {
  font-family: "Poppins", sans-serif;
  -webkit-box-shadow: 0px 8px 18px rgba(0, 10, 39, 0.08);
          box-shadow: 0px 8px 18px rgba(0, 10, 39, 0.08);
  border-radius: 11px;
  border: none;
  width: 100%;
  padding: 10px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 377px;
}

input[type="email"],
input[type="password"],
input[type="number"],
input[type="text"] {
  font-family: "Poppins", sans-serif;
  padding: 10px 40px;
  border: 1px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  width: 100%;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="text"]:focus {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
}

label {
  font-size: 1rem !important;
  line-height: 1.7rem;
  font-style: normal;
  font-weight: 600;
  color: #161616;
}

.input-mail {
  background-image: url("../../public/img/email.svg");
  background-position: 9px 9px;
  background-repeat: no-repeat;
}

.input-password {
  background-image: url("../../public/img/lock.svg");
  background-position: 9px 9px;
  background-repeat: no-repeat;
}

.button-primary {
  background: #f2c84b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 4px 30px 4px 30px;
  border: 1px solid #f2c84b;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 28px;
  width: 100%;
}

.button-primary:hover {
  cursor: pointer;
}

.button-outline {
  background: #ffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 4px 30px 4px 30px;
  border: 1px solid #161616;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 28px;
  width: 100%;
}

.button-outline:hover {
  cursor: pointer;
}

.button-dark {
  background: #161616;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 4px 30px 4px 30px;
  border: 1px solid #161616;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 28px;
  width: 100%;
  color: #ffff;
}

.button-dark:hover {
  cursor: pointer;
}

.navbar {
  display: none;
}

@media screen and (max-width: 576px) {
  .navbar {
    display: inline;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    display: inline;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: inline;
  }
}

a {
  color: #79acd9;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px dotted #79acd9;
}

input[type="checkbox"] {
  border: 1px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  accent-color: #161616;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="radio"] {
  border: 1px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  accent-color: #161616;
}

input[type="radio"]:hover {
  cursor: pointer;
}

.card {
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 18px rgba(0, 10, 39, 0.08);
          box-shadow: 0px 8px 18px rgba(0, 10, 39, 0.08);
  border-radius: 11px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 10px;
}

.input-container label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

.input-container__password {
  margin-top: 20px;
}

.container {
  margin-top: 130px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-block,
.title {
  text-align: center;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.title-block__title {
  margin-bottom: 50px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-container__icon {
  position: absolute;
  margin-top: 1px;
  margin-left: 5px;
}

.account-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #c4c4c4;
}

.checkbox input {
  margin-right: 1rem;
}

.checkbox__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #c4c4c4;
}
/*# sourceMappingURL=Connexion.css.map */