@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/global";

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  & label {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
  }
  &__password {
    margin-top: 20px;
  }
}
.container {
  margin-top: 130px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.title-block,
.title {
  text-align: center;
}
h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.title-block {
  &__title {
    margin-bottom: 50px;
  }
}
.button-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  &__icon {
    position: absolute;
    margin-top: 1px;
    margin-left: 5px;
  }
}

.account-text {
  @include textGray;
}
.checkbox {
  input {
    margin-right: 1rem;
  }
  &__text {
    @include textGray;
  }
}
