@use "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  font-size: 62.5%;
  background-color: #fafafb;
}

select {
  font-family: $font-family;
  box-shadow: 0px 8px 18px rgba(0, 10, 39, 0.08);
  border-radius: 11px;
  border: none;
  width: 100%;
  padding: 10px 40px;
  box-sizing: border-box;
  max-width: 377px;
}

input[type="email"],
input[type="password"],
input[type="number"],
input[type="text"] {
  font-family: $font-family;
  padding: 10px 40px;
  border: 1px solid $fontGray;
  box-sizing: border-box;
  border-radius: 12px;
  width: 100%;
  transition: all 0.25s ease-in;
  &:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  }
}
label {
  @include textBold;
}

.input-mail {
  @include iconForm("../../public/img/email.svg");
}
.input-password {
  @include iconForm("../../public/img/lock.svg");
}

.button-primary {
  @include buttonPrimary;
  &:hover {
    cursor: pointer;
  }
}
.button-outline {
  @include buttonOutline;
  &:hover {
    cursor: pointer;
  }
}
.button-dark {
  @include buttonDark;
  &:hover {
    cursor: pointer;
  }
}

.navbar {
  display: none;
  @include mobile-only {
    display: inline;
  }
  @include mobile-only-lg {
    display: inline;
  }
  @include mobile-only-md {
    display: inline;
  }
}

a {
  color: $secondaryColor;
  text-decoration: none;
  &:hover {
    border-bottom: 1px dotted $secondaryColor;
  }
}
input[type="checkbox"] {
  border: 1px solid $fontGray;
  box-sizing: border-box;
  border-radius: 2px;
  accent-color: $fontColor;
  &:hover {
    cursor: pointer;
  }
}
input[type="radio"] {
  border: 1px solid $fontGray;
  box-sizing: border-box;
  border-radius: 2px;
  accent-color: $fontColor;
  &:hover {
    cursor: pointer;
  }
}
.card {
  background: #ffffff;
  box-shadow: 0px 8px 18px rgba(0, 10, 39, 0.08);
  border-radius: 11px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
