@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

p {
  font-family: $font-family;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: $fontColor;
}
h3 {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3.4rem;
  color: $fontColor;
}

h2 {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.4rem;
  color: $fontColor;
}

h1 {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 50px;
  color: $fontColor;
}
