// Screen sizes
$breakpoints: (
  screen-sm: 576px,
  screen-md: 768px,
  screen-lg: 992px,
  screen-xl: 1200px,
  screen-xxl: 1300px,
  screen-full: 1400px,
);

// Fonts

$font-family: "Poppins", sans-serif;
$font-family-secondary: "Titan One", cursive;

// Colors

//Text

$fontColor: #161616;
$fontLightColor: #ffffff;
$fontGray: #c4c4c4;

//Main colors

// $primaryHoverColor: ;
// $secondaryHoverColor: ;
// $thirdHoverColor: ;

$primaryColor: #f2c84b;
$secondaryColor: #79acd9;
$thirdColor: #000a27;

$grayLight: #ededed;

$dangerColor: #ed5b3b;
$infoColor: #47dc67;
