@use "./variables";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  background-color: #fafafb;
}

select {
  font-family: "Poppins", sans-serif;
  -webkit-box-shadow: 0px 8px 18px rgba(0, 10, 39, 0.08);
          box-shadow: 0px 8px 18px rgba(0, 10, 39, 0.08);
  border-radius: 11px;
  border: none;
  width: 100%;
  padding: 10px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 377px;
}

input[type="email"],
input[type="password"],
input[type="number"],
input[type="text"] {
  font-family: "Poppins", sans-serif;
  padding: 10px 40px;
  border: 1px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  width: 100%;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="text"]:focus {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
}

label {
  font-size: 1rem !important;
  line-height: 1.7rem;
  font-style: normal;
  font-weight: 600;
  color: #161616;
}

.input-mail {
  background-image: url("../../public/img/email.svg");
  background-position: 9px 9px;
  background-repeat: no-repeat;
}

.input-password {
  background-image: url("../../public/img/lock.svg");
  background-position: 9px 9px;
  background-repeat: no-repeat;
}

.button-primary {
  background: #f2c84b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 4px 30px 4px 30px;
  border: 1px solid #f2c84b;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 28px;
  width: 100%;
}

.button-primary:hover {
  cursor: pointer;
}

.button-outline {
  background: #ffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 4px 30px 4px 30px;
  border: 1px solid #161616;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 28px;
  width: 100%;
}

.button-outline:hover {
  cursor: pointer;
}

.button-dark {
  background: #161616;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 4px 30px 4px 30px;
  border: 1px solid #161616;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 28px;
  width: 100%;
  color: #ffff;
}

.button-dark:hover {
  cursor: pointer;
}

.navbar {
  display: none;
}

@media screen and (max-width: 576px) {
  .navbar {
    display: inline;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    display: inline;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: inline;
  }
}

a {
  color: #79acd9;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px dotted #79acd9;
}

input[type="checkbox"] {
  border: 1px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  accent-color: #161616;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="radio"] {
  border: 1px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  accent-color: #161616;
}

input[type="radio"]:hover {
  cursor: pointer;
}

.card {
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 18px rgba(0, 10, 39, 0.08);
          box-shadow: 0px 8px 18px rgba(0, 10, 39, 0.08);
  border-radius: 11px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ratings-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 9px;
}

.ratings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .ratings-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .ratings-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .ratings-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.ratings__mission_button {
  margin-bottom: 0px;
}

.react-stars {
  margin-bottom: 18px;
  margin-left: 10px;
}

.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.select-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=Ratings.css.map */