@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/global";

.ratings {
  &-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9px;
  }
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    @include mobile-only {
      flex-direction: column;
    }
    @include mobile-only-md {
      flex-direction: column;
    }
    @include mobile-only-lg {
      flex-direction: column;
    }
  }

  &__mission {
    &_button {
      margin-bottom: 0px;
    }
  }
}
.react-stars {
  margin-bottom: 18px;
  margin-left: 10px;
}
.centered {
  display: flex;
  justify-content: center;
}

.select-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
