.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 485px;
  margin-bottom: 50px;
  margin-top: 20px;
}

@media screen and (max-width: 576px) {
  .header {
    gap: 150px;
  }
}

.header__button {
  background: none;
  border: none;
  font-family: "Poppins", sans-serif;
  padding: 2px 6px 2px 6px;
}

.header__button:hover {
  background: #ededed;
  border-radius: 12px;
  cursor: pointer;
}

.header__button_icon svg {
  margin-bottom: -7px;
  margin-right: 3px;
}

.logo {
  font-family: "Titan One", cursive;
  font-size: 1.6rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=Header.css.map */