@import "../../sass/variables";

.nav {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  filter: drop-shadow(0px 8px 18px rgba(0, 10, 39, 0.08));
  border-radius: 11px;
  padding: 0px 40px;
  display: flex;
  gap: 50px;
  align-items: center;
  font-size: 0.9rem !important;
  margin-top: 50px;
  &__item {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
      font-weight: 600;
      cursor: pointer;
      .menu-icon path,
      .piggybank-icon path {
        stroke: $secondaryColor;
      }
      .checklist-icon path {
        fill: $secondaryColor;
      }
    }
  }
}
