.nav {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-filter: drop-shadow(0px 8px 18px rgba(0, 10, 39, 0.08));
          filter: drop-shadow(0px 8px 18px rgba(0, 10, 39, 0.08));
  border-radius: 11px;
  padding: 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem !important;
  margin-top: 50px;
}

.nav__item {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item:hover {
  font-weight: 600;
  cursor: pointer;
}

.nav__item:hover .menu-icon path,
.nav__item:hover .piggybank-icon path {
  stroke: #79acd9;
}

.nav__item:hover .checklist-icon path {
  fill: #79acd9;
}
/*# sourceMappingURL=Navbar.css.map */