@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/global";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  gap: 10px;
}
.card {
  align-items: flex-start;
}
.mission {
  &__title {
    @include textBold;
  }
  &__date {
    @include textGray;
  }
}
.missions-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
